  
{
    "extends": [
      "react-app",
      "plugin:prettier/recommended"
    ],
    "rules": {
     "prefer-template": "error",
      "semi": "error"
      // "quotes": [
      //   "error",
      //   "single"
      // ]
    }
  }